<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Genesis Web App">
    <meta name="author" content="Mart Zwart">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>
      {% block title %}
        Genesis Web
      {% endblock %}
    </title>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.17/theme/material-darker.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    {% endblock %}
  </head>
  <body class="bg-light">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" style="max-width: 30px; height: auto;" alt="Logo" />
          <span>Genesis</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{ url_for('about') }}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/codemirror.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/yaml.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/sql.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/foldcode.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/foldgutter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/indent-fold.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
